{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "trailingComma": "none",
        "singleQuote": true,
        "jsxSingleQuote": true,
        "useTabs": false,
        "tabWidth": 2,
        "semi": true
      }
    ]
  }
}
